*{
    padding: 0;
    margin: 0;
     

}

.first-section{
   
    background-image: url(donete1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 180px 20px;
    text-align: center;
    
    
}
#page-head{
    font-size: 65px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
 
   
}
.font-center{
    text-align: center;
    color: rgb(69, 37, 37);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 50px;
    
}
.anchore-center{
    
   padding: 15px 25px;
   background-color: orangered;
    color: rgb(113, 220, 13);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(75, 38, 38);
    font-size: 25px;
    text-align: center;
  
   
}
.font-center1{
    text-align: center;
    margin: 100px;
    
 
}
 
.money-select{
    display: flex;
    justify-content: center;
    align-items: center;
}
.money{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 250px;
    border-radius: 2px;
    padding: 40px;
    background-color: rgb(5, 47, 47);
}
li{
    position: relative;
    list-style: none;
    text-align: center;
    margin: 15px;
}
 label{
    position: relative;
    cursor: pointer;
 }
input[type="checkbox" ]{
    position: absolute;
    opacity: 0;
}
.money{
    width: 90px;
    font-size: 45px;
    height: 60px;
    background: rgb(244, 243, 243);
    display: flex;
    box-shadow: -2px -2px 5px rgba(255) 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    border: 2px solid red;
    
    
}

  .input-taka{
    width: 480px;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;


}
.input-data{
    height: 40px;
    width: 100%;
    position: relative;
   
    
    
}
.input-taka .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver ;
    text-align: center;
    
    
}

.anchore-center1{
    padding: 15px 25px;
   background-color: orangered;
    color: rgb(113, 220, 13);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(75, 38, 38);
    font-size: 25px;
    
    margin: 150px;
    
    
}
.donete-plan{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
}

.icon{
    padding: 25px;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
   
}
#icon1{
    background-color: bisque;
}
#icon2{
    background-color: rgb(177, 111, 31);
}
#icon3{
    background-color: rgb(53, 212, 17);
}